fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
asyncpg
pydantic
pydantic-settings
python-dotenv
python-multipart
numpy<2
torch==2.2.2
sentence-transformers==2.7.0
langgraph
langgraph-checkpoint-postgres
langchain
langchain-core
langchain-aws
langchain-openai
pgvector
httpx
orjson
pytest
pytest-asyncio
email-validator
psycopg2
pypdf
python-docx
coverage
